@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #9108AF;
  --color-accent: #FFD9FC;
  --color-background: #FFFAFE;
  --color-text: #3c383a;
  --font-montserrat: 'Montserrat', sans-serif;
  --font-lora: 'Lora', serif;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-montserrat), sans-serif;
}

.blog-post {
  border-radius: var(--radius);
  padding: 1rem;
  list-style: decimal-leading-zero;
}

.blog-post p {
  margin: 5px;
}

.blog-post ul {
  margin-left: 20px;
}

.blog-post li {
  margin: 5px;
  list-style: inside;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
