@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #9108AF;
  --color-accent: #FFD9FC;
  --color-background: #FFFAFE;
  --color-text: #2A2829;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-montserrat), sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
